<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions />
    <actions>
    	<action name="dispSignupgroupIndex" type="view" index="true" />
    	
    	<!-- Admin -->
		<action name="dispSignupgroupAdminSetup" type="view" standalone="true" admin_index="true"  />
		<action name="procSignupgroupAdminSetup" type="controller" />
		<action name="dispSignupgroupAdminGrantInfo" type="view" standalone="true" />
    </actions>
</module>